@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400..700&display=swap");

:root {
  --font-serif: "Source Serif 4", Charter, "Bitstream Charter", Georgia, "Times New Roman", Times, serif;
}

body {
  font-family: var(--font-serif);
  font-kerning: normal;
  font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo a {
  font-family: var(--font-serif);
}

