<div class="social-icons" {{ with .align}}align="{{.}}" {{- end }}>
    {{- range site.Params.socialIcons }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{- if eq (lower .name) "alphaxiv" }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M1.27522 12.3964L7.63126 5.98285C8.58653 5.01894 10.1347 5.01922 11.0896 5.98347L14.1093 9.0327M18.2234 13.2213L22.2455 17.2827M10.5695 9.58896L5.65985 14.5465C4.66019 15.5559 4.64756 17.1886 5.63149 18.2136C6.57691 19.2172 8.1555 19.2371 9.12545 18.2577L22.2752 4.97949"/>
        </svg>
        {{- else }}
        {{ partial "svg.html" . }}
        {{- end }}
    </a>
    {{- end }}
</div>
