{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Content }}
  <div class="page-description">
    {{ .Content }}
  </div>
  {{- end }}
</header>

<div class="thoughts-list">
  {{- $pages := where .Pages "Params.listed" true }}
  {{- range ($pages.ByDate.Reverse.GroupByDate "January 2006" "desc") }}
  <section class="thoughts-year-group">
    <h2 class="thoughts-year">{{ .Key }}</h2>
    <ul class="simple-list-items">
      {{- range .Pages.ByDate.Reverse }}
      <li class="simple-list-item">
        <a class="simple-list-link" href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
  </section>
  {{- end }}
</div>

{{- end }}
